{% extends "base.html" %}
{% block content %}
    <h1>Git</h1>
    <h1> What are Branches? </h1>
    <p1>Branches are different parts of the development. It offers a way to encapsulate changes so it doesn't impact the entire codebase. </p1>
    <h1> What is Merge? </h1>
    <p1>Branches are a point when two different branches combine and one overrides part of another.</p1>
    <h1> What is Commit? </h1>
    <p1>A commit is a change in file or files that is uploaded to the Github repository. </p1>
    <h1> What are Tags? </h1>
    <p1>Tags are snapshots in the history of a repository. They mark important parts of development typically represent versions. </p1>
    <h1> What Are Repositories? </h1>
    <p1>Repositories are a project on Github that can be shared with other people. It's a file or a set of files on an online platform.
    That multiple people can work on at the same time.</p1>
{% endblock %}